Repository navipartner/npcore-partners, changes with the owners that CODEOWNERS names for each.
All owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2, @navipartner/pipelines, @navipartner/dev-management, @navipartner/frontend, @navipartner/attractions, @navipartner/compliance

Add unit of measure to mixed discounts (#7404)
  Application/src/POS Discount/DiscountCalcBuffer.Table.al
  Application/src/POS Discount/DiscountCalcBufferUtils.Codeunit.al
  Application/src/POS Discount/MixedDiscountLines.Page.al
  Application/src/POS Discount/MixedDiscountManagement.Codeunit.al
  Application/src/POS Discount/_public/MixedDiscountLine.Table.al
Owners: @navipartner/isv-1

Unit of measure filter in total discounts (#7416)
  Application/src/POS Discount/Total Discount/TotalDiscLineUtils.Codeunit.al
  Application/src/POS Discount/Total Discount/TotalDiscountLine.Table.al
  Application/src/POS Discount/Total Discount/TotalDiscountManagement.Codeunit.al
  Application/src/POS Discount/Total Discount/TotalDiscountSubform.Page.al
Owners: @navipartner/isv-1

Update action code on pos button parameter values (#7433)
  Application/src/_Upgrades/UPGPOSMenuActionsv3.Codeunit.al
  Application/src/_Upgrades/UpgradeTagDefinitions.Codeunit.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Add SS PAYMENT CASH as valid payment flow on self service (#7449)
  Application/src/Self Service/actions/Payment/POSActionSSPayment.Codeunit.al
  Application/src/Self Service/actions/Payment/POSActionSSPayment.js
  Application/src/Self Service/actions/Payment/POSActionSSPaymentBL.Codeunit.al
  Application/src/Self Service/actions/SSActionPaymentCash/POSActionSSPaymCashB.Codeunit.al
  Application/src/Self Service/actions/SSActionPaymentCash/POSActionSSPaymentCash.js
Owners: @navipartner/hardware, @navipartner/isv-1

#COM-372 AT Fiscalization: Fiscal Receipts 2 (#7443)
  Application/src/POS Compliance/[AT] Fiskaly/ATAuditMgt.Codeunit.al
  Application/src/POS Compliance/[AT] Fiskaly/ATFiskalyCommunication.Codeunit.al
  Application/src/POS Compliance/[AT] Fiskaly/ATPOSAuditLogAuxInfo.Page.al
Owners: @navipartner/compliance

[RS] Retail Localization: COGS Correction (#7440)
  Application/src/Localizations/[RS] Retail Localization/RSRLocalizationMgt.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSPOSGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSPurhcGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSRetValueEntryMapp.Page.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSRetValueEntryMapp.Table.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSRetailCalculationType.Enum.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSRetailCostAdjustment.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSSalesCrMemoGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSSalesGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSTransRecGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSTransShGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSUndoTransShipAdd.Codeunit.al
Owners: @navipartner/compliance

#COM-393 AT Fiscalization: Fiscal Receipts Printing #COM-398 AT Fiscalization: Zero-value receipt - ''Nullbeleg'' (#7446)
  Application/src/POS Compliance/[AT] Fiskaly/ATAuditMgt.Codeunit.al
  Application/src/POS Compliance/[AT] Fiskaly/ATCashRegisters.Page.al
  Application/src/POS Compliance/[AT] Fiskaly/ATFiscalThermalPrint.Codeunit.al
  Application/src/POS Compliance/[AT] Fiskaly/ATFiskalyCommunication.Codeunit.al
  Application/src/POS Compliance/[AT] Fiskaly/ATPOSAuditLogAuxInfo.Page.al
  Application/src/POS Compliance/[AT] Fiskaly/ATPOSAuditLogAuxInfo.Table.al
Owners: @navipartner/compliance

Retail journal price calculation fix for items that are part of a mixed discount (#7447)
  Application/src/Retail Journal/_public/RetailJournalLine.Table.al
Owners: @navipartner/isv-2

Shopify and HeyLoyalty integration: more flexible task setup (#7452)
  Application/src/HeyLoyalty Integration/Install and Setup/HLAppUpgrade.Codeunit.al
  Application/src/HeyLoyalty Integration/Install and Setup/HLDLogSubscrMgtImpl.Codeunit.al
  Application/src/HeyLoyalty Integration/Integration Engine/HLHeybookingSendTicket.Codeunit.al
  Application/src/HeyLoyalty Integration/Integration Engine/HLIntegrationMgt.Codeunit.al
  Application/src/HeyLoyalty Integration/Integration Engine/HLMemberMgtImpl.Codeunit.al
  Application/src/HeyLoyalty Integration/Integration Engine/HLScheduleSendTasks.Codeunit.al
  Application/src/HeyLoyalty Integration/_public/HLIntegrationSetup.Page.al
  Application/src/HeyLoyalty Integration/_public/HLIntegrationSetup.Table.al
  Application/src/Shopify Integration/SpfyAppUpgrade.Codeunit.al
  Application/src/Shopify Integration/SpfyDLogSubscrMgtImpl.Codeunit.al
  Application/src/Shopify Integration/SpfyIntegrationMgt.Codeunit.al
  Application/src/Shopify Integration/SpfyIntegrationSetup.Page.al
  Application/src/Shopify Integration/SpfyIntegrationSetup.Table.al
  Application/src/Shopify Integration/SpfyOrderMgt.Codeunit.al
  Application/src/Shopify Integration/SpfyScheduleSendTasks.Codeunit.al
  Application/src/_Upgrades/UpgradeTagDefinitions.Codeunit.al
Owners: @navipartner/isv-2, @navipartner/hardware, @navipartner/isv-1

Aded SE Prefix (#7451)
  Application/src/POS Compliance/[SE] CleanCash/SEFiscalizationSetup.Page.al
Owners: @navipartner/compliance

Adjustment to offline ticket schedule selection (#7453)
  Application/src/Ticket Module/TMOfflineTicketValidBL.Codeunit.al
Owners: @navipartner/attractions

#15879 Add field TotalSalesFiscalYear to XML Port (#7438)
  Application/src/Magento 2/M2GetExtendedAccount.XmlPort.al
Owners: @navipartner/isv-2

Tsa/attr 273 issue with show ticketholder (#7454)
  Application/src/Ticket Module/TMTicketNotifyParticpt.Codeunit.al
  Application/src/Ticket Module/_Actions/TicketMgt/POSActionTicketMgt.Codeunit.al
  Application/src/Ticket Module/_Actions/TicketMgt/POSActionTicketMgt.Codeunit.js
Owners: @navipartner/attractions

POS payment method items balance calculation fix (#7456)
  Application/src/POS Core/_public/POSPaymentLine.Codeunit.al
Owners: @navipartner/isv-1

Added description field to purchase and sales line API (#7457)
  Application/src/_API/PowerBI/APIV1PBIPurchRcptLine.Page.al
  Application/src/_API/PowerBI/APIV1PBIPurchaseLine.Page.al
  Application/src/_API/PowerBI/APIV1PBIPurchaseLineArc.Page.al
  Application/src/_API/PowerBI/APIV1PBISalesCrMemoLine.Page.al
  Application/src/_API/PowerBI/APIV1PBISalesLine.Page.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Fixed shipping provider documents Request/Response actions (#7429)
  Application/src/Package/Shipmondo/ShipmondoMgnt.Codeunit.al
  Application/src/Package/_public/ShippingProviderDocument.Table.al
Owners: @navipartner/isv-1

Salesperson POS Sales Stats. report fix (#7461)
  Application/src/_Reports/SPersonPOSSalesStats.Report.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Record Link added on Report Event Customer Template (#7450)
  Application/src/_Reports/EventCustomerTemplate.Report.al
  Application/src/_Reports/layouts/Event Customer Template.rdlc
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Tin/bravo 75 issue when sending print request to shipmondo (#7463)
  Application/src/Package/PackageManagement.Codeunit.al
  Application/src/Package/_public/ShipmondoEvents.Codeunit.al
Owners: @navipartner/isv-1

Web Service Extensibility; Webhook Setup Fixes; Report Processing Task (#7448)
  Application/src/Adyen Reconciliation/AFRecWebhookRequest.Table.al
  Application/src/Adyen Reconciliation/AFRecWebhookRequests.Page.al
  Application/src/Adyen Reconciliation/AdyenEnvironmentType.Enum.al
  Application/src/Adyen Reconciliation/AdyenFeePosting.Codeunit.al
  Application/src/Adyen Reconciliation/AdyenManagement.Codeunit.al
  Application/src/Adyen Reconciliation/AdyenMerchantSetup.Page.al
  Application/src/Adyen Reconciliation/AdyenMerchantSetup.Table.al
  Application/src/Adyen Reconciliation/AdyenPostingGLAccounts.Enum.al
  Application/src/Adyen Reconciliation/AdyenProcessReportReady.Codeunit.al
  Application/src/Adyen Reconciliation/AdyenReconAmountType.Enum.al
  Application/src/Adyen Reconciliation/AdyenReconciliation.Page.al
  Application/src/Adyen Reconciliation/AdyenReconciliationHdr.Table.al
  Application/src/Adyen Reconciliation/AdyenReconciliationList.Page.al
  Application/src/Adyen Reconciliation/AdyenReconciliationLogs.Page.al
  Application/src/Adyen Reconciliation/AdyenSetup.Page.al
  Application/src/Adyen Reconciliation/AdyenSetup.Table.al
  Application/src/Adyen Reconciliation/AdyenSimulateWebhookReq.Report.al
  Application/src/Adyen Reconciliation/AdyenTrMatchingSession.Codeunit.al
  Application/src/Adyen Reconciliation/AdyenTransMatching.Codeunit.al
  Application/src/Adyen Reconciliation/AdyenWHReportFactbox.Page.al
  Application/src/Adyen Reconciliation/AdyenWebhook.PermissionSet.al
  Application/src/Adyen Reconciliation/AdyenWebhook.Table.al
  Application/src/Adyen Reconciliation/AdyenWebhookSetup.Table.al
  Application/src/Adyen Reconciliation/AdyenWebhookSetupCard.Page.al
  Application/src/Adyen Reconciliation/AdyenWebhookSetupList.Page.al
  Application/src/Adyen Reconciliation/AdyenWebhooks.Page.al
  Application/src/Adyen Reconciliation/_public/AFRecAPIRequest.Codeunit.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Declared value amount restriction on Shipmondo (#7445)
  Application/src/Package/PackageManagement.Codeunit.al
  Application/src/Package/Shipmondo/ShipmondoMgnt.Codeunit.al
  Application/src/Package/_public/PackageShippingAgent.Table.al
  Application/src/Package/_public/PackageShippingAgents.Page.al
  Application/src/Package/_public/PackageShippingagent.Page.al
  Application/src/Package/_public/ShipmondoEvents.Codeunit.al
Owners: @navipartner/isv-1

BALANCE_V4 Review Saved Sale filter only for current POS Unit (#7465)
  Application/src/POS Quote/POSSavedSaleMgt.Codeunit.al
Owners: @navipartner/isv-2

Tsa/attr-275-use-mpos-adapted-pages-for-member-listings (#7469)
  Application/src/Member Module/MemberMgt/POSActionMemberMgtWF3B.Codeunit.al
  Application/src/Member Module/_public/MMMemberCardListMPos.Page.al
  Application/src/Member Module/_public/MMMembersMPos.Page.al
Owners: @navipartner/attractions

Update captions and usage categories for member card and member list pages (#7470)
  Application/src/Member Module/_public/MMMemberCardListMPos.Page.al
  Application/src/Member Module/_public/MMMembersMPos.Page.al
Owners: @navipartner/attractions

[RS] Retail Localization: Bug Fix (#7468)
  Application/src/Localizations/[RS] Retail Localization/RSRLocalizationMgt.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSPOSGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSPurhcGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSTransRecGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSTransShGLAddition.Codeunit.al
Owners: @navipartner/compliance

Update Dragonglass to version 2.10.2 (#7466)
  Application/src/_ControlAddIns/Dragonglass/Dragonglass.ControlAddin.al
Owners: @navipartner/frontend

Updating latest captions (#7471)
  Application/src/POS Core/_public/POSUIManagement.Codeunit.al
Owners: @navipartner/isv-1

CODEOWNERS:

# For anything that is not covered by the other rules
* @navipartner/hardware @navipartner/isv-1 @navipartner/isv-2

/.github/ @navipartner/pipelines
/CODEOWNERS @navipartner/dev-management

/Application/src/_ControlAddIns/Dragonglass/ @navipartner/frontend
/Application/src/_ControlAddIns/HardwareConnector/ @navipartner/hardware
/Application/src/_ControlAddIns/NPCamera/ @navipartner/hardware
/Application/src/Accessories/ @navipartner/isv-1
/Application/src/Attributes/ @navipartner/isv-1
/Application/src/Azure\ AD\ Application\ Management/ @navipartner/isv-1
/Application/src/Azure\ Function\ Management/ @navipartner/hardware
/Application/src/BTwentyFour\ Service/ @navipartner/isv-2
/Application/src/Case\ System\ Phone\ Home/ @navipartner/isv-2
/Application/src/Click\ &\ Collect/ @navipartner/isv-2
/Application/src/Consignor/ @navipartner/isv-1
/Application/src/Coupon/ @navipartner/isv-1
/Application/src/Customer\ Phone\ Lookup/ @navipartner/isv-1
/Application/src/Data\ Log/ @navipartner/isv-2
/Application/src/Data\ Package/ @navipartner/isv-2
/Application/src/Digital\ Receipt/ @navipartner/isv-1
/Application/src/Dimensions/ @navipartner/isv-2
/Application/src/Ecommerce/ @navipartner/isv-2
/Application/src/Email\ Template\ (PDF2NAV)/ @navipartner/isv-1
/Application/src/Environment/ @navipartner/isv-1
/Application/src/Event\ Module/ @navipartner/attractions
/Application/src/Exchange\ Label/ @navipartner/isv-2
/Application/src/External\ POS\ Sale/ @navipartner/isv-2
/Application/src/Feature\ Flags/ @navipartner/isv-1
/Application/src/Feature\ Management/ @navipartner/isv-1
/Application/src/File\ Transfer/ @navipartner/hardware
/Application/src/GDPR/ @navipartner/attractions
/Application/src/Global\ POS\ Sales/ @navipartner/isv-2
/Application/src/Group\ Codes/ @navipartner/isv-1
/Application/src/Hardware\ Connector/ @navipartner/hardware
/Application/src/HeyLoyalty\ Integration/ @navipartner/isv-2
/Application/src/Intercompany/ @navipartner/isv-1
/Application/src/Inventory\ Cost\ Adjmt/ @navipartner/isv-2
/Application/src/Item\ AddOn/ @navipartner/isv-1
/Application/src/Item\ Catalog/ @navipartner/isv-1
/Application/src/Item\ Category/ @navipartner/isv-1
/Application/src/Item\ Hierarchy/ @navipartner/isv-1
/Application/src/Item\ Reference/ @navipartner/isv-1
/Application/src/Item\ Status/ @navipartner/isv-2
/Application/src/Item\ Worksheet/ @navipartner/isv-1
/Application/src/Job\ Queue/ @navipartner/isv-2
/Application/src/Key\ Vault/ @navipartner/dev-management
/Application/src/Localizations/ @navipartner/compliance
/Application/src/MPOS/ @navipartner/hardware
/Application/src/Magento/ @navipartner/isv-2
/Application/src/Magento\ 2/ @navipartner/isv-2
/Application/src/Main\ Item\ Variations/ @navipartner/isv-2
/Application/src/Member\ Module/ @navipartner/attractions
/Application/src/NaviConnect/ @navipartner/isv-2
/Application/src/NaviDocs/ @navipartner/isv-2
/Application/src/NpXml/ @navipartner/isv-2
/Application/src/OIOUBL/ @navipartner/isv-2
/Application/src/Package/ @navipartner/isv-1
/Application/src/Pacsoft/ @navipartner/isv-1
/Application/src/POS\ Action\ (with\ Misc\ actions)/ @navipartner/isv-1
/Application/src/POS\ Background\ Tasks/ @navipartner/isv-1
/Application/src/POS\ Compliance/ @navipartner/compliance
/Application/src/POS\ Core/ @navipartner/isv-1
/Application/src/POS\ Customer\ Input/ @navipartner/hardware
/Application/src/POS\ Cross\ Reference/ @navipartner/isv-2
/Application/src/POS\ Data\ Source/ @navipartner/isv-1
/Application/src/POS\ Discount/ @navipartner/isv-1
/Application/src/POS\ Display/ @navipartner/hardware
/Application/src/POS\ Info/ @navipartner/isv-2
/Application/src/POS\ Input\ Box/ @navipartner/isv-1
/Application/src/POS\ Item\ Availability/ @navipartner/isv-2
/Application/src/POS\ Payment/ @navipartner/isv-1
/Application/src/POS\ Payment/EFT/ @navipartner/hardware
/Application/src/POS\ Payment\ Bin/ @navipartner/isv-2
/Application/src/POS\ Payment\ Denomination/ @navipartner/isv-2
/Application/src/POS\ Posting/ @navipartner/isv-2
/Application/src/POS\ Quote/ @navipartner/isv-2
/Application/src/POS\ RMA/ @navipartner/isv-2
/Application/src/POS\ Resume\ Sale/ @navipartner/isv-2
/Application/src/POS\ Sales\ Document/ @navipartner/isv-2
/Application/src/POS\ Scenarios/ @navipartner/isv-1
/Application/src/POS\ Security/ @navipartner/isv-1
/Application/src/POS\ Service/ @navipartner/isv-2
/Application/src/POS\ Setup/ @navipartner/isv-2
/Application/src/POS\ Statistics/ @navipartner/isv-2
/Application/src/POS\ Store/ @navipartner/isv-2
/Application/src/POS\ Tax\ Calculation/ @navipartner/isv-2
/Application/src/POS\ Tax\ Free/ @navipartner/isv-2
/Application/src/POS\ Unit/ @navipartner/isv-2
/Application/src/PrintNode/ @navipartner/hardware
/Application/src/Raptor/ @navipartner/isv-2
/Application/src/Reimbursement/ @navipartner/isv-2
/Application/src/Replication/ @navipartner/isv-1
/Application/src/Restaurant/ @navipartner/isv-2
/Application/src/Retail\ Item\ Journal/ @navipartner/isv-2
/Application/src/Retail\ Journal/ @navipartner/isv-2
/Application/src/Retail\ Price/ @navipartner/isv-1
/Application/src/Retail\ Print/ @navipartner/hardware
/Application/src/Retail\ Voucher/ @navipartner/isv-1
/Application/src/Retention\ Policy/ @navipartner/isv-2
/Application/src/Sales\ Price/ @navipartner/isv-1
/Application/src/Self\ Service/ @navipartner/hardware @navipartner/isv-1
/Application/src/Sentry/ @navipartner/dev-management
/Application/src/Setup\ Wizards/ @navipartner/isv-2
/Application/src/Shopify\ Integration/ @navipartner/isv-2
/Application/src/Smart\ Email/ @navipartner/isv-1
/Application/src/Statistics\ and\ Overview/ @navipartner/isv-2
/Application/src/Ticket\ Module/ @navipartner/attractions
/Application/src/Variety/ @navipartner/isv-1
