Repository navipartner/npcore-partners, changes with the owners that CODEOWNERS names for each.
All owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2, @navipartner/pipelines, @navipartner/dev-management, @navipartner/frontend, @navipartner/attractions, @navipartner/compliance

CODEOWNERS:

# For anything that is not covered by the other rules
* @navipartner/hardware @navipartner/isv-1 @navipartner/isv-2

/.github/ @navipartner/pipelines
/CODEOWNERS @navipartner/dev-management

/Application/src/_ControlAddIns/Dragonglass/ @navipartner/frontend
/Application/src/_ControlAddIns/HardwareConnector/ @navipartner/hardware
/Application/src/_ControlAddIns/NPCamera/ @navipartner/hardware
/Application/src/Accessories/ @navipartner/isv-1
/Application/src/Attributes/ @navipartner/isv-1
/Application/src/Azure\ AD\ Application\ Management/ @navipartner/isv-1
/Application/src/Azure\ Function\ Management/ @navipartner/hardware
/Application/src/BTwentyFour\ Service/ @navipartner/isv-2
/Application/src/Case\ System\ Phone\ Home/ @navipartner/isv-2
/Application/src/Click\ &\ Collect/ @navipartner/isv-2
/Application/src/Consignor/ @navipartner/isv-1
/Application/src/Coupon/ @navipartner/isv-1
/Application/src/Customer\ Phone\ Lookup/ @navipartner/isv-1
/Application/src/Data\ Log/ @navipartner/isv-2
/Application/src/Data\ Package/ @navipartner/isv-2
/Application/src/Digital\ Receipt/ @navipartner/isv-1
/Application/src/Dimensions/ @navipartner/isv-2
/Application/src/Ecommerce/ @navipartner/isv-2
/Application/src/Email\ Template\ (PDF2NAV)/ @navipartner/isv-1
/Application/src/Environment/ @navipartner/isv-1
/Application/src/Event\ Module/ @navipartner/attractions
/Application/src/Exchange\ Label/ @navipartner/isv-2
/Application/src/External\ POS\ Sale/ @navipartner/isv-2
/Application/src/Feature\ Flags/ @navipartner/isv-1
/Application/src/Feature\ Management/ @navipartner/isv-1
/Application/src/File\ Transfer/ @navipartner/hardware
/Application/src/GDPR/ @navipartner/attractions
/Application/src/Global\ POS\ Sales/ @navipartner/isv-2
/Application/src/Group\ Codes/ @navipartner/isv-1
/Application/src/Hardware\ Connector/ @navipartner/hardware
/Application/src/HeyLoyalty\ Integration/ @navipartner/isv-2
/Application/src/Intercompany/ @navipartner/isv-1
/Application/src/Inventory\ Cost\ Adjmt/ @navipartner/isv-2
/Application/src/Item\ AddOn/ @navipartner/isv-1
/Application/src/Item\ Catalog/ @navipartner/isv-1
/Application/src/Item\ Category/ @navipartner/isv-1
/Application/src/Item\ Hierarchy/ @navipartner/isv-1
/Application/src/Item\ Reference/ @navipartner/isv-1
/Application/src/Item\ Status/ @navipartner/isv-2
/Application/src/Item\ Worksheet/ @navipartner/isv-1
/Application/src/Job\ Queue/ @navipartner/isv-2
/Application/src/Key\ Vault/ @navipartner/dev-management
/Application/src/Localizations/ @navipartner/compliance
/Application/src/MPOS/ @navipartner/hardware
/Application/src/Magento/ @navipartner/isv-2
/Application/src/Magento\ 2/ @navipartner/isv-2
/Application/src/Main\ Item\ Variations/ @navipartner/isv-2
/Application/src/Member\ Module/ @navipartner/attractions
/Application/src/NaviConnect/ @navipartner/isv-2
/Application/src/NaviDocs/ @navipartner/isv-2
/Application/src/NpXml/ @navipartner/isv-2
/Application/src/OIOUBL/ @navipartner/isv-2
/Application/src/Package/ @navipartner/isv-1
/Application/src/Pacsoft/ @navipartner/isv-1
/Application/src/POS\ Action\ (with\ Misc\ actions)/ @navipartner/isv-1
/Application/src/POS\ Background\ Tasks/ @navipartner/isv-1
/Application/src/POS\ Compliance/ @navipartner/compliance
/Application/src/POS\ Core/ @navipartner/isv-1
/Application/src/POS\ Customer\ Input/ @navipartner/hardware
/Application/src/POS\ Cross\ Reference/ @navipartner/isv-2
/Application/src/POS\ Data\ Source/ @navipartner/isv-1
/Application/src/POS\ Discount/ @navipartner/isv-1
/Application/src/POS\ Display/ @navipartner/hardware
/Application/src/POS\ Info/ @navipartner/isv-2
/Application/src/POS\ Input\ Box/ @navipartner/isv-1
/Application/src/POS\ Item\ Availability/ @navipartner/isv-2
/Application/src/POS\ Payment/ @navipartner/isv-1
/Application/src/POS\ Payment/EFT/ @navipartner/hardware
/Application/src/POS\ Payment\ Bin/ @navipartner/isv-2
/Application/src/POS\ Payment\ Denomination/ @navipartner/isv-2
/Application/src/POS\ Posting/ @navipartner/isv-2
/Application/src/POS\ Quote/ @navipartner/isv-2
/Application/src/POS\ RMA/ @navipartner/isv-2
/Application/src/POS\ Resume\ Sale/ @navipartner/isv-2
/Application/src/POS\ Sales\ Document/ @navipartner/isv-2
/Application/src/POS\ Scenarios/ @navipartner/isv-1
/Application/src/POS\ Security/ @navipartner/isv-1
/Application/src/POS\ Service/ @navipartner/isv-2
/Application/src/POS\ Setup/ @navipartner/isv-2
/Application/src/POS\ Statistics/ @navipartner/isv-2
/Application/src/POS\ Store/ @navipartner/isv-2
/Application/src/POS\ Tax\ Calculation/ @navipartner/isv-2
/Application/src/POS\ Tax\ Free/ @navipartner/isv-2
/Application/src/POS\ Unit/ @navipartner/isv-2
/Application/src/PrintNode/ @navipartner/hardware
/Application/src/Raptor/ @navipartner/isv-2
/Application/src/Reimbursement/ @navipartner/isv-2
/Application/src/Replication/ @navipartner/isv-1
/Application/src/Restaurant/ @navipartner/isv-2
/Application/src/Retail\ Item\ Journal/ @navipartner/isv-2
/Application/src/Retail\ Journal/ @navipartner/isv-2
/Application/src/Retail\ Price/ @navipartner/isv-1
/Application/src/Retail\ Print/ @navipartner/hardware
/Application/src/Retail\ Voucher/ @navipartner/isv-1
/Application/src/Retention\ Policy/ @navipartner/isv-2
/Application/src/Sales\ Price/ @navipartner/isv-1
/Application/src/Self\ Service/ @navipartner/hardware @navipartner/isv-1
/Application/src/Sentry/ @navipartner/dev-management
/Application/src/Setup\ Wizards/ @navipartner/isv-2
/Application/src/Shopify\ Integration/ @navipartner/isv-2
/Application/src/Smart\ Email/ @navipartner/isv-1
/Application/src/Statistics\ and\ Overview/ @navipartner/isv-2
/Application/src/Ticket\ Module/ @navipartner/attractions
/Application/src/Variety/ @navipartner/isv-1

API for finished order overview from KDS (#7383)
  Application/src/Restaurant/KDS/KDSFrontendAssistImpl.Codeunit.al
  Application/src/Restaurant/KDS/NPREKitchenOrder.Table.al
  Application/src/Restaurant/KDS/NPREKitchenOrderCard.Page.al
  Application/src/Restaurant/KDS/NPREKitchenOrderList.Page.al
  Application/src/Restaurant/KDS/NPREKitchenOrderMgt.Codeunit.al
  Application/src/Restaurant/KDS/NPREKitchenReq.Page.al
  Application/src/Restaurant/KDS/NPREKitchenReqStations.Query.al
  Application/src/Restaurant/KDS/NPREKitchenRequest.Table.al
  Application/src/Restaurant/_public/KDSFrontendAssistant.Codeunit.al
  Application/src/_Upgrades/NPREUpgrade.Codeunit.al
  Application/src/_Upgrades/UpgradeTagDefinitions.Codeunit.al
Owners: @navipartner/isv-2, @navipartner/hardware, @navipartner/isv-1

Remove newMixDiscountCalculation_v2 feature flag (#7384)
  Application/src/POS Discount/MixedDiscountManagement.Codeunit.al
  Application/src/POS Discount/_public/MixDiscountCalcMgt.Codeunit.al
Owners: @navipartner/isv-1

Remove couponItemListApplicationReordering from coupon application (#7385)
  Application/src/Coupon/NpDcModuleApplyItemList.Codeunit.al
Owners: @navipartner/isv-1

Remove couponsVatAmountCalculationFix_v2 feature flag (#7386)
  Application/src/Coupon/NpDcModuleApplyXtrItem.Codeunit.al
  Application/src/Coupon/_public/NpDcCouponMgt.Codeunit.al
  Application/src/POS Discount/_public/POSSalesDiscCalcMgt.Codeunit.al
Owners: @navipartner/isv-1

Add block field to member card list (#7387)
  Application/src/Member Module/_public/MMMemberCardList.Page.al
Owners: @navipartner/attractions

SimpleItemInsert: OnAfterCheckPostworkflowSubscriptionExists event (#7388)
  Application/src/POS Action (with Misc actions)/Item/POSActionInsertItem.Codeunit.al
  Application/src/POS Action (with Misc actions)/Item/_public/POSActInsertItemEvent.Codeunit.al
Owners: @navipartner/isv-1

Adyen Reconciliation Indexes Improvement (#7390)
  Application/src/Adyen Reconciliation/AdyenEFTTransPosting.Codeunit.al
  Application/src/Adyen Reconciliation/AdyenFeePosting.Codeunit.al
  Application/src/Adyen Reconciliation/AdyenManagement.Codeunit.al
  Application/src/Adyen Reconciliation/AdyenRecActivities.Page.al
  Application/src/Adyen Reconciliation/AdyenReconLine.Table.al
  Application/src/Adyen Reconciliation/AdyenReconciliation.Page.al
  Application/src/Adyen Reconciliation/AdyenReconciliationHdr.Table.al
  Application/src/Adyen Reconciliation/AdyenReconciliationLines.Page.al
  Application/src/Adyen Reconciliation/AdyenTransMatching.Codeunit.al
  Application/src/Adyen Reconciliation/AdyenWHRequestFactbox.Page.al
  Application/src/Adyen Reconciliation/AdyenWebhookSetupCard.Page.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

[NO] Z-report customization (#7164)
  Application/src/POS Compliance/[NO] Lovdata/NOFiscalThermalPrint.Codeunit.al
  Application/src/POS Compliance/[NO] Lovdata/Reports/NOBalacingA4POS.Report.al
  Application/src/POS Compliance/[NO] Lovdata/Statistics/NOReportStatisticsMgt.Codeunit.al
  Application/src/POS Compliance/[NO] Lovdata/_public/NOEoDReportStatistics.Codeunit.al
Owners: @navipartner/compliance

Hide Adyen Activities Until Future Release (#7396)
  Application/src/Adyen Reconciliation/AdyenReconciliationCue.PageExt.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Decode enum and option value unicode escapes in replication (#7395)
  Application/src/Replication/_public/ReplicationAPI.Codeunit.al
  Application/src/_Misc/ConvertHelper.Codeunit.al
Owners: @navipartner/isv-1, @navipartner/hardware, @navipartner/isv-2

Add serverId to API methods used by the FrontEnd for KDS (#7392)
  Application/src/Restaurant/KDS/KDSFrontendAssistImpl.Codeunit.al
  Application/src/Restaurant/NPREFrontendAssistant.Codeunit.al
  Application/src/Restaurant/_public/KDSFrontendAssistant.Codeunit.al
Owners: @navipartner/isv-2

[RS] Localization: Permissions for TableData on Prepayment CU (#7400)
  Application/src/Localizations/[RS] Localization/Prepayment/PrepaymentMgt.Codeunit.al
Owners: @navipartner/compliance

Remove obsolete BC23.4 container from workflows (#7401)
  .github/Prerelease.config.json
  .github/Workflows.config.json
Owners: @navipartner/pipelines

Rename the new API KDS methods (#7403)
  Application/src/Restaurant/_public/KDSFrontendAssistant.Codeunit.al
Owners: @navipartner/isv-2

Adding latest localized strings (#7391)
  Application/src/POS Core/_public/POSUIManagement.Codeunit.al
Owners: @navipartner/isv-1

Do not refresh dataset after 'SecureMethod' method (#7405)
  Application/src/POS Core/_public/POSJavaScriptInterface.Codeunit.al
Owners: @navipartner/isv-1

Reintroduction of previously removed Dragonglass based KDS methods (#7407)
  Application/src/Restaurant/KDS/KDSFrontendAssistImpl.Codeunit.al
  Application/src/Restaurant/NPREFrontendAssistant.Codeunit.al
Owners: @navipartner/isv-2

Added a test for offline ticket validation (#7408)
  Test/src/Libraries/LibraryTicketModule.Codeunit.al
  Test/src/Libraries/LibraryTicketXMLAPI.Codeunit.al
  Test/src/Tests/Ticket Module/TMAPISmokeTest.Codeunit.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Mix discount lots and combinations (#7409)
  Application/src/POS Discount/MixedDiscountManagement.Codeunit.al
Owners: @navipartner/isv-1

Updated permissionset for KDS WebService (#7415)
  Application/src/Restaurant/KDS/KDSWebService.PermissionSet.al
Owners: @navipartner/isv-2

Refresh POS action parameters in restaurant setup pages (#7414)
  Application/src/Restaurant/NPRERestaurantSetup.Page.al
  Application/src/Restaurant/NPREServFlowProfCard.Page.al
Owners: @navipartner/isv-2

[RS] Retail Localization: Rounding Margin No VAT Amount Issue Fix (#7411)
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSPOSGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSPurhcGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSSalesCrMemoGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSSalesGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSTransRecGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSTransShGLAddition.Codeunit.al
Owners: @navipartner/compliance

Public access to POS Action Merg. Sml. Lines (#7417)
  Application/src/POS Action (with Misc actions)/MergeSimilarLines/POSActionMergSmlLinesB.Codeunit.al
  Application/src/POS Action (with Misc actions)/MergeSimilarLines/_public/MergeSimilarLinesPublic.Codeunit.al
  Application/src/POS Action (with Misc actions)/MergeSimilarLines/_public/POSActMergSimlLinesEvents.Codeunit.al
Owners: @navipartner/isv-1

#COM-349 AT Fiscalization: Fiscaly Integration (#7361)
  .github/Workflows.config.json
  Application/src/POS Compliance/[AT] Fiskaly/ATAuditMgt.Codeunit.al
  Application/src/POS Compliance/[AT] Fiskaly/ATCashRegister.Table.al
  Application/src/POS Compliance/[AT] Fiskaly/ATCashRegisterState.Enum.al
  Application/src/POS Compliance/[AT] Fiskaly/ATCashRegisters.Page.al
  Application/src/POS Compliance/[AT] Fiskaly/ATFONAuthStatus.Enum.al
  Application/src/POS Compliance/[AT] Fiskaly/ATFiscalizationSetup.Page.al
  Application/src/POS Compliance/[AT] Fiskaly/ATFiscalizationSetup.Table.al
  Application/src/POS Compliance/[AT] Fiskaly/ATFiskalyCommunication.Codeunit.al
  Application/src/POS Compliance/[AT] Fiskaly/ATFiskalyJWT.Codeunit.al
  Application/src/POS Compliance/[AT] Fiskaly/ATOrganization.Table.al
  Application/src/POS Compliance/[AT] Fiskaly/ATOrganizationCard.Page.al
  Application/src/POS Compliance/[AT] Fiskaly/ATOrganizationList.Page.al
  Application/src/POS Compliance/[AT] Fiskaly/ATSCU.Table.al
  Application/src/POS Compliance/[AT] Fiskaly/ATSCUState.Enum.al
  Application/src/POS Compliance/[AT] Fiskaly/ATSCUs.Page.al
  Application/src/POS Compliance/[AT] Fiskaly/ATSecretMgt.Codeunit.al
  Application/src/POS Compliance/[BG] Fiscal/SIS/BGSISCommunicationMgt.Codeunit.al
  Application/src/POS Compliance/[BG] Fiscal/SIS/BGSISPOSAuditLogAux.Page.al
Owners: @navipartner/pipelines, @navipartner/compliance

Add select serial no popup on ITEM and ASSIGN_SERIAL_NO actions (#7421)
  Application/src/POS Action (with Misc actions)/AssignSerialNo/POSActionSetSerialNo.Codeunit.al
  Application/src/POS Action (with Misc actions)/AssignSerialNo/POSActionSetSerialNo.js
  Application/src/POS Action (with Misc actions)/Item/POSActionInsertItem.Codeunit.al
  Application/src/POS Action (with Misc actions)/Item/POSActionInsertItem.js
  Application/src/POS Action (with Misc actions)/Item/POSActionInsertItemB.Codeunit.al
  Application/src/POS Action (with Misc actions)/TextEnter/POSActionTextEnter.Codeunit.al
Owners: @navipartner/isv-1

"Implement cancel reservation feature" (#7422)
  Application/src/Member Module/Loyalty/MMLoyaltyPointMgt.Codeunit.al
  Application/src/Member Module/Loyalty/PayWithPoints/MMLoyLedgerEntrySrvr.Table.al
  Application/src/Member Module/Loyalty/PayWithPoints/MMLoyPointMgrClient.Codeunit.al
  Application/src/Member Module/Loyalty/PayWithPoints/MMLoyPointMgrServer.Codeunit.al
  Application/src/Member Module/Loyalty/PayWithPoints/MMLoyPointPSPClient.Codeunit.al
  Application/src/Member Module/Loyalty/PayWithPoints/MMLoyStoreSetupClient.Page.al
  Application/src/Member Module/Loyalty/PayWithPoints/MMLoyStoreSetupServer.Page.al
  Application/src/Member Module/Loyalty/PayWithPoints/MMLoyaltyExpireReservation.Codeunit.al
  Application/src/Member Module/Loyalty/PayWithPoints/MMLoyaltyServerTrxLog.Page.al
  Application/src/Member Module/Loyalty/PayWithPoints/MMLoyaltyStoreSetup.Table.al
  Application/src/Member Module/Loyalty/_API/SOAP/MMCancelReservePoints.XmlPort.al
  Application/src/Member Module/MMRegSalesBuffer.Table.al
  Application/src/Member Module/_public/MMLoyaltyWebService.Codeunit.al
  Application/src/Member Module/_public/MMMembersPointsEntry.Table.al
  Application/src/POS Payment/EFT/Integrations/Loyalty Points/EFTLoyaltyPointsProtocol.Codeunit.al
  Application/src/POS Payment/EFT/Integrations/Loyalty Points/POSActionEFTMMLoyalty.Codeunit.al
  Application/src/POS Payment/EFT/Integrations/Loyalty Points/POSActionEftMMLoyalty.js
  Test/src/Libraries/LibraryMemberLoyalty.Codeunit.al
  Test/src/Tests/Member Module/Loyalty/MMLoyaltyTest.Codeunit.al
Owners: @navipartner/attractions, @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Add CaptureReservePoints functionality (#7423)
  Application/src/Member Module/Loyalty/PayWithPoints/MMLoyPointMgrServer.Codeunit.al
  Application/src/Member Module/Loyalty/_API/SOAP/MMCaptureReservePoints.XmlPort.al
  Application/src/Member Module/MMRegSalesBuffer.Table.al
  Application/src/Member Module/_public/MMLoyaltyWebService.Codeunit.al
Owners: @navipartner/attractions

Added missing table to the KDS webservice permissionset (#7424)
  Application/src/Restaurant/KDS/KDSWebService.PermissionSet.al
Owners: @navipartner/isv-2

Do not show cancelled kitchen requests on KDS (#7426)
  Application/src/Restaurant/KDS/KDSFrontendAssistImpl.Codeunit.al
  Application/src/Restaurant/KDS/NPREKitchenOrderCard.Page.al
Owners: @navipartner/isv-2

Additional links between POS entry sales lines, waiter pad lines and kitchen orders (#7425)
  Application/src/Restaurant/KDS/NPREKitchenOrderMgt.Codeunit.al
  Application/src/Restaurant/NPREWPadPrntLogEntry.Table.al
  Application/src/Restaurant/NPREWaiterPadLine.Table.al
  Application/src/Restaurant/NPREWaiterPadPOSMgt.Codeunit.al
  Application/src/Restaurant/NPREWaiterPadSubform.Page.al
  Application/src/Restaurant/POSEntryWaiterPadLink.Table.al
  Application/src/Restaurant/POSEntryWaiterPadLinks.Page.al
  Application/src/Restaurant/_public/NPRERestaurantPrint.Codeunit.al
Owners: @navipartner/isv-2

API Power BI Ticket Categories (#7431)
  Application/src/_API/PowerBI/APIV1TicketCategories.Page.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

FE-464: Add name and description captions to workflow parameter list (#7430)
  Application/src/POS View/POSLayoutAssistant.Codeunit.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

#COM-372 AT Fiscalization: Fiscal Receipts #COM-375 AT Fiscalization: VAT Posting Setup Mapping (#7428)
  Application/src/POS Compliance/[AT] Fiskaly/ATAuditEntryType.Enum.al
  Application/src/POS Compliance/[AT] Fiskaly/ATAuditMgt.Codeunit.al
  Application/src/POS Compliance/[AT] Fiskaly/ATCashRegisters.Page.al
  Application/src/POS Compliance/[AT] Fiskaly/ATFONRcptValidStatus.Enum.al
  Application/src/POS Compliance/[AT] Fiskaly/ATFiskalyCommunication.Codeunit.al
  Application/src/POS Compliance/[AT] Fiskaly/ATPOSAuditLogAuxInfo.Page.al
  Application/src/POS Compliance/[AT] Fiskaly/ATPOSAuditLogAuxInfo.Table.al
  Application/src/POS Compliance/[AT] Fiskaly/ATPOSPaymentMethodMap.Page.al
  Application/src/POS Compliance/[AT] Fiskaly/ATPOSPaymentMethodMap.Table.al
  Application/src/POS Compliance/[AT] Fiskaly/ATPaymentType.Enum.al
  Application/src/POS Compliance/[AT] Fiskaly/ATReceiptType.Enum.al
  Application/src/POS Compliance/[AT] Fiskaly/ATVATPostingSetupMap.Page.al
  Application/src/POS Compliance/[AT] Fiskaly/ATVATPostingSetupMap.Table.al
  Application/src/POS Compliance/[AT] Fiskaly/ATVATRate.Enum.al
  Application/src/POS Compliance/[AT] Fiskaly/POSActionATShowAuditLog/POSActionATAuditLkp.Codeunit.al
  Application/src/POS Compliance/[AT] Fiskaly/POSActionATShowAuditLog/POSActionATAuditLkp.js
  Application/src/POS Compliance/[AT] Fiskaly/POSActionATShowAuditLog/POSActionATAuditLkpB.Codeunit.al
  Application/src/POS Core/Workflow V3/_public/POSWorkflow.Enum.al
  Application/src/POS Posting/_public/POSEntry.Table.al
  Application/src/POS Posting/_public/POSEntryFactbox.Page.al
Owners: @navipartner/compliance, @navipartner/isv-1, @navipartner/isv-2

Issue vouchers vat calculation with pos view profile setup bug (#7435)
  Application/src/Retail Voucher/Issue Voucher/NpRvIssuePOSActionMgtB.Codeunit.al
  Application/src/Retail Voucher/_public/NpRvVoucherMgt.Codeunit.al
Owners: @navipartner/isv-1

Adyen Reconciliation Enhancements (#7410)
  Application/src/Adyen Reconciliation/AFRecWebhookRequests.Page.al
  Application/src/Adyen Reconciliation/AdyenEFTTransPosting.Codeunit.al
  Application/src/Adyen Reconciliation/AdyenFeePosting.Codeunit.al
  Application/src/Adyen Reconciliation/AdyenManagement.Codeunit.al
  Application/src/Adyen Reconciliation/AdyenMerchantSetup.Page.al
  Application/src/Adyen Reconciliation/AdyenRecActivities.Page.al
  Application/src/Adyen Reconciliation/AdyenRecLogType.Enum.al
  Application/src/Adyen Reconciliation/AdyenReconAmountType.Enum.al
  Application/src/Adyen Reconciliation/AdyenReconLine.Table.al
  Application/src/Adyen Reconciliation/AdyenReconLineRelation.Page.al
  Application/src/Adyen Reconciliation/AdyenReconLineRelation.Table.al
  Application/src/Adyen Reconciliation/AdyenReconciliation.Page.al
  Application/src/Adyen Reconciliation/AdyenReconciliationCue.Table.al
  Application/src/Adyen Reconciliation/AdyenReconciliationHdr.Table.al
  Application/src/Adyen Reconciliation/AdyenReconciliationLines.Page.al
  Application/src/Adyen Reconciliation/AdyenReconciliationList.Page.al
  Application/src/Adyen Reconciliation/AdyenReconciliationLogs.Page.al
  Application/src/Adyen Reconciliation/AdyenSetup.Page.al
  Application/src/Adyen Reconciliation/AdyenSetup.Table.al
  Application/src/Adyen Reconciliation/AdyenTrMatchingSession.Codeunit.al
  Application/src/Adyen Reconciliation/AdyenTransMatching.Codeunit.al
  Application/src/Adyen Reconciliation/AdyenWebhook.PermissionSet.al
  Application/src/Adyen Reconciliation/AdyenWebhookEventCode.Enum.al
  Application/src/Adyen Reconciliation/AdyenWebhookEventCode.Table.al
  Application/src/Adyen Reconciliation/AdyenWebhookEventCodes.Page.al
  Application/src/Adyen Reconciliation/AdyenWebhookSetup.Table.al
  Application/src/Adyen Reconciliation/AdyenWebhookSetupCard.Page.al
  Application/src/Adyen Reconciliation/AdyenWebhookSetupList.Page.al
  Application/src/Adyen Reconciliation/ReconEFTMagentoUpgrade.Codeunit.al
  Application/src/Adyen Reconciliation/_public/AFRecAPIRequest.Codeunit.al
  Application/src/Magento/_public/MagentoPaymentLine.Table.al
  Application/src/POS Payment/EFT/Core/EFTTransactionRequest.Table.al
  Application/src/POS Posting/_public/POSEntryPaymentLine.Table.al
  Application/src/_Upgrades/UpgradeTagDefinitions.Codeunit.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Update Dragonglass to version 2.10.0 (#7442)
  Application/src/_ControlAddIns/Dragonglass/Dragonglass.ControlAddin.al
Owners: @navipartner/frontend

#COM-388 AT Fiscalization: DEP - electronic journal export (#7436)
  Application/src/POS Compliance/[AT] Fiskaly/ATCashRegisters.Page.al
  Application/src/POS Compliance/[AT] Fiskaly/ATExpCashRegFilters.Page.al
  Application/src/POS Compliance/[AT] Fiskaly/ATFiskalyCommunication.Codeunit.al
Owners: @navipartner/compliance

#COM-394 AT Fiscalization: Job Queues (#7437)
  Application/src/POS Compliance/[AT] Fiskaly/ATAuditMgt.Codeunit.al
  Application/src/POS Compliance/[AT] Fiskaly/ATFiscalizationSetup.Table.al
  Application/src/POS Compliance/[AT] Fiskaly/ATImpOtherCtrlRcptJQ.Codeunit.al
  Application/src/POS Compliance/[AT] Fiskaly/ATValidateReceiptsJQ.Codeunit.al
  Application/src/_Installs/JobQueueInstall.Codeunit.al
Owners: @navipartner/compliance, @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

New public procedures for Exchange Labels (#7444)
  Application/src/Exchange Label/ExchangeLabelMgt.Codeunit.al
  Application/src/Exchange Label/_public/PrintExchangeLabels.Codeunit.al
Owners: @navipartner/isv-2

Fixed sales amounts shown on customer card/list (#7439)
  Application/src/_Page Extensions/CustomerCard.PageExt.al
  Application/src/_Page Extensions/CustomerList.PageExt.al
  Application/src/_Table Extensions/Customer.TableExt.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2
