Repository navipartner/npcore-partners, changes with the owners that CODEOWNERS names for each.
All owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2, @navipartner/pipelines, @navipartner/dev-management, @navipartner/frontend, @navipartner/attractions, @navipartner/compliance

CODEOWNERS:

# For anything that is not covered by the other rules
* @navipartner/hardware @navipartner/isv-1 @navipartner/isv-2

/.github/ @navipartner/pipelines
/CODEOWNERS @navipartner/dev-management

/Application/src/_ControlAddIns/Dragonglass/ @navipartner/frontend
/Application/src/_ControlAddIns/HardwareConnector/ @navipartner/hardware
/Application/src/_ControlAddIns/NPCamera/ @navipartner/hardware
/Application/src/Accessories/ @navipartner/isv-1
/Application/src/Attributes/ @navipartner/isv-1
/Application/src/Azure\ AD\ Application\ Management/ @navipartner/isv-1
/Application/src/Azure\ Function\ Management/ @navipartner/hardware
/Application/src/BTwentyFour\ Service/ @navipartner/isv-2
/Application/src/Case\ System\ Phone\ Home/ @navipartner/isv-2
/Application/src/Click\ &\ Collect/ @navipartner/isv-2
/Application/src/Consignor/ @navipartner/isv-1
/Application/src/Coupon/ @navipartner/isv-1
/Application/src/Customer\ Phone\ Lookup/ @navipartner/isv-1
/Application/src/Data\ Log/ @navipartner/isv-2
/Application/src/Data\ Package/ @navipartner/isv-2
/Application/src/Digital\ Receipt/ @navipartner/isv-1
/Application/src/Dimensions/ @navipartner/isv-2
/Application/src/Ecommerce/ @navipartner/isv-2
/Application/src/Email\ Template\ (PDF2NAV)/ @navipartner/isv-1
/Application/src/Environment/ @navipartner/isv-1
/Application/src/Event\ Module/ @navipartner/attractions
/Application/src/Exchange\ Label/ @navipartner/isv-2
/Application/src/External\ POS\ Sale/ @navipartner/isv-2
/Application/src/Feature\ Flags/ @navipartner/isv-1
/Application/src/Feature\ Management/ @navipartner/isv-1
/Application/src/File\ Transfer/ @navipartner/hardware
/Application/src/GDPR/ @navipartner/attractions
/Application/src/Global\ POS\ Sales/ @navipartner/isv-2
/Application/src/Group\ Codes/ @navipartner/isv-1
/Application/src/Hardware\ Connector/ @navipartner/hardware
/Application/src/HeyLoyalty\ Integration/ @navipartner/isv-2
/Application/src/Intercompany/ @navipartner/isv-1
/Application/src/Inventory\ Cost\ Adjmt/ @navipartner/isv-2
/Application/src/Item\ AddOn/ @navipartner/isv-1
/Application/src/Item\ Catalog/ @navipartner/isv-1
/Application/src/Item\ Category/ @navipartner/isv-1
/Application/src/Item\ Hierarchy/ @navipartner/isv-1
/Application/src/Item\ Reference/ @navipartner/isv-1
/Application/src/Item\ Status/ @navipartner/isv-2
/Application/src/Item\ Worksheet/ @navipartner/isv-1
/Application/src/Job\ Queue/ @navipartner/isv-2
/Application/src/Key\ Vault/ @navipartner/dev-management
/Application/src/Localizations/ @navipartner/compliance
/Application/src/MPOS/ @navipartner/hardware
/Application/src/Magento/ @navipartner/isv-2
/Application/src/Magento\ 2/ @navipartner/isv-2
/Application/src/Main\ Item\ Variations/ @navipartner/isv-2
/Application/src/Member\ Module/ @navipartner/attractions
/Application/src/NaviConnect/ @navipartner/isv-2
/Application/src/NaviDocs/ @navipartner/isv-2
/Application/src/NpXml/ @navipartner/isv-2
/Application/src/OIOUBL/ @navipartner/isv-2
/Application/src/Package/ @navipartner/isv-1
/Application/src/Pacsoft/ @navipartner/isv-1
/Application/src/POS\ Action\ (with\ Misc\ actions)/ @navipartner/isv-1
/Application/src/POS\ Background\ Tasks/ @navipartner/isv-1
/Application/src/POS\ Compliance/ @navipartner/compliance
/Application/src/POS\ Core/ @navipartner/isv-1
/Application/src/POS\ Customer\ Input/ @navipartner/hardware
/Application/src/POS\ Cross\ Reference/ @navipartner/isv-2
/Application/src/POS\ Data\ Source/ @navipartner/isv-1
/Application/src/POS\ Discount/ @navipartner/isv-1
/Application/src/POS\ Display/ @navipartner/hardware
/Application/src/POS\ Info/ @navipartner/isv-2
/Application/src/POS\ Input\ Box/ @navipartner/isv-1
/Application/src/POS\ Item\ Availability/ @navipartner/isv-2
/Application/src/POS\ Payment/ @navipartner/isv-1
/Application/src/POS\ Payment/EFT/ @navipartner/hardware
/Application/src/POS\ Payment\ Bin/ @navipartner/isv-2
/Application/src/POS\ Payment\ Denomination/ @navipartner/isv-2
/Application/src/POS\ Posting/ @navipartner/isv-2
/Application/src/POS\ Quote/ @navipartner/isv-2
/Application/src/POS\ RMA/ @navipartner/isv-2
/Application/src/POS\ Resume\ Sale/ @navipartner/isv-2
/Application/src/POS\ Sales\ Document/ @navipartner/isv-2
/Application/src/POS\ Scenarios/ @navipartner/isv-1
/Application/src/POS\ Security/ @navipartner/isv-1
/Application/src/POS\ Service/ @navipartner/isv-2
/Application/src/POS\ Setup/ @navipartner/isv-2
/Application/src/POS\ Statistics/ @navipartner/isv-2
/Application/src/POS\ Store/ @navipartner/isv-2
/Application/src/POS\ Tax\ Calculation/ @navipartner/isv-2
/Application/src/POS\ Tax\ Free/ @navipartner/isv-2
/Application/src/POS\ Unit/ @navipartner/isv-2
/Application/src/PrintNode/ @navipartner/hardware
/Application/src/Raptor/ @navipartner/isv-2
/Application/src/Reimbursement/ @navipartner/isv-2
/Application/src/Replication/ @navipartner/isv-1
/Application/src/Restaurant/ @navipartner/isv-2
/Application/src/Retail\ Item\ Journal/ @navipartner/isv-2
/Application/src/Retail\ Journal/ @navipartner/isv-2
/Application/src/Retail\ Price/ @navipartner/isv-1
/Application/src/Retail\ Print/ @navipartner/hardware
/Application/src/Retail\ Voucher/ @navipartner/isv-1
/Application/src/Retention\ Policy/ @navipartner/isv-2
/Application/src/Sales\ Price/ @navipartner/isv-1
/Application/src/Self\ Service/ @navipartner/hardware @navipartner/isv-1
/Application/src/Sentry/ @navipartner/dev-management
/Application/src/Setup\ Wizards/ @navipartner/isv-2
/Application/src/Shopify\ Integration/ @navipartner/isv-2
/Application/src/Smart\ Email/ @navipartner/isv-1
/Application/src/Statistics\ and\ Overview/ @navipartner/isv-2
/Application/src/Ticket\ Module/ @navipartner/attractions
/Application/src/Variety/ @navipartner/isv-1

[HU Fiscal] Original document no in Credit memo (#7061)
  Application/src/Localizations/[HU] Multisoft-EInvoice/HUEInvoiceLocalMgt.Codeunit.al
  Application/src/Localizations/[HU] Multisoft-EInvoice/HUEInvoiceLocalSetup.Page.al
  Application/src/Localizations/[HU] Multisoft-EInvoice/HUEInvoiceLocalSetup.Table.al
  Application/src/Localizations/[HU] Multisoft-EInvoice/HUEInvoiceLocalSubs.Codeunit.al
Owners: @navipartner/compliance

Added missing function name in KDS WS handled array (#7281)
  Application/src/Restaurant/NPREFrontendAssistant.Codeunit.al
Owners: @navipartner/isv-2

[RS] Retail Localization - COGS Posting 2 (#7285)
  Application/src/Localizations/[RS] Retail Localization/Nivelation/RSNivPostEntries.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/RSRLocalizationMgt.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSPOSGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSPurhcGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSRetValueEntryMapp.Page.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSRetValueEntryMapp.Table.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSRetailCostAdjustment.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSSalesCrMemoGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSSalesGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSTransRecGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSTransShGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSUndoTransShipAdd.Codeunit.al
Owners: @navipartner/compliance

Fix XML labels in MMLoyPointMgrClient.Codeunit.al (#7284)
  Application/src/Member Module/Loyalty/MMLoyPointMgrClient.Codeunit.al
Owners: @navipartner/attractions

Shopify integration: payment processing update and other small changes (#7288)
  Application/src/Click & Collect/NpCs Role Center Cue/NpCsActivities.Page.al
  Application/src/Click & Collect/NpCs Role Center Cue/NpCsCue.Table.al
  Application/src/Click & Collect/NpCs Role Center Cue/NpCsCueBackgrdTask.Codeunit.al
  Application/src/Shopify Integration/SpfyCapturePayment.Codeunit.al
  Application/src/Shopify Integration/SpfyIntegrationMgt.Codeunit.al
  Application/src/Shopify Integration/SpfyIntegrationSetup.Page.al
  Application/src/Shopify Integration/SpfyIntegrationSetup.Table.al
  Application/src/Shopify Integration/SpfyOrderMgt.Codeunit.al
  Application/src/Shopify Integration/SpfyPaymentGatewayHdlr.Codeunit.al
  Application/src/Shopify Integration/SpfyScheduleSendTasks.Codeunit.al
  Application/src/Shopify Integration/SpfySendItemsInventory.Codeunit.al
  Application/src/Shopify Integration/_public/SpfyIntegrationEvents.Codeunit.al
Owners: @navipartner/isv-2

[SE] CC Cash Register Journal Export (#7227)
  .github/Workflows.config.json
  Application/src/POS Compliance/[SE] CleanCash/CC Cash Register Export/SECCAuditEntryType.Enum.al
  Application/src/POS Compliance/[SE] CleanCash/CC Cash Register Export/SECCCashRegAuditLog.Page.al
  Application/src/POS Compliance/[SE] CleanCash/CC Cash Register Export/SECCCashRegAuditLog.Table.al
  Application/src/POS Compliance/[SE] CleanCash/CC Cash Register Export/SECCCashRegAuditMgt.Codeunit.al
  Application/src/POS Compliance/[SE] CleanCash/CC Cash Register Export/SECCCashRegExpMgt.Codeunit.al
  Application/src/POS Compliance/[SE] CleanCash/CC Cash Register Export/SECCCashRegisterExport.Report.al
Owners: @navipartner/pipelines, @navipartner/compliance

Refactor TMTicketManagement.Codeunit.al to remove unused variables and improve validation (#7291)
  Application/src/Ticket Module/TMTicketManagement.Codeunit.al
Owners: @navipartner/attractions

CleanCash Fiscal Thermal Print (#7231)
  Application/src/POS Compliance/[SE] CleanCash/SECCReportStatMgt.Codeunit.al
  Application/src/POS Compliance/[SE] CleanCash/SECleanCashFiscalPrint.Codeunit.al
Owners: @navipartner/compliance

UPGPrintReceiptOnSale (#7290)
  Application/src/_Upgrades/UPGPOSScenarios.Codeunit.al
  Application/src/_Upgrades/UpgradeTagDefinitions.Codeunit.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Add Preferred Language to Member Notifications (#7295)
  Application/src/Magento 2/M2AccountManager.Codeunit.al
  Application/src/Member Module/MMLanguage.Table.al
  Application/src/Member Module/MMLanguages.Page.al
  Application/src/Member Module/MMMemberNotificEntry.Page.al
  Application/src/Member Module/MMMemberNotificEntry.Table.al
  Application/src/Member Module/MMMemberWebServiceMgr.Codeunit.al
  Application/src/Member Module/MMMembershipMgtInternal.Codeunit.al
  Application/src/Member Module/_API/SOAP/MMAddMember.XmlPort.al
  Application/src/Member Module/_API/SOAP/MMGetMembersMembers.XmlPort.al
  Application/src/Member Module/_API/SOAP/MMUpdateMember.XmlPort.al
  Application/src/Member Module/_public/MMMember.Table.al
  Application/src/Member Module/_public/MMMemberCard.Page.al
  Application/src/Member Module/_public/MMMemberCommunity.Page.al
  Application/src/Member Module/_public/MMMemberCommunity.Table.al
  Application/src/Member Module/_public/MMMemberInfoCapture.Page.al
  Application/src/Member Module/_public/MMMemberInfoCapture.Table.al
  Application/src/Member Module/_public/MMMemberNotification.Codeunit.al
  Test/src/Libraries/LibraryMemberModule.Codeunit.al
  Test/src/Libraries/LibraryMemberXMLAPI.Codeunit.al
  Test/src/Tests/Member Module/MMAPISmokeTest.Codeunit.al
  Test/src/Tests/Member Module/POSAction/Create Member/POSActCreateMemberTests.Codeunit.al
Owners: @navipartner/isv-2, @navipartner/attractions, @navipartner/hardware, @navipartner/isv-1

Fix ticket price calculation (#7296)
  Application/src/Ticket Module/_ImportTicket/TMImportTicketWorker.Codeunit.al
  Test/src/Tests/Ticket Module/TMImportTicketTest.Codeunit.al
Owners: @navipartner/attractions, @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Waiter pad end of sale fixes (#7294)
  Application/src/POS Action (with Misc actions)/End Sale/POSActionEndSale.Codeunit.al
  Application/src/Restaurant/NPREWaiterPadPOSMgt.Codeunit.al
Owners: @navipartner/isv-1, @navipartner/isv-2

Fix insider (#7297)
  Application/src/POS Menu/POSMenuFilterLine.Table.al
  Application/src/Retail Print/_public/PrintRetJnlHTTPLabel.Codeunit.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Topic/hwd 254 vipps minor fix (#7278)
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/Protocol/Api/VippsMpAccessTokenAPI.Codeunit.al
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/Protocol/Api/VippsMpMgtAPI.Codeunit.al
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/Protocol/Api/VippsMpQRAPI.Codeunit.al
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/Protocol/Api/VippsMpWebhookAPI.Codeunit.al
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/Protocol/Api/VippsMpePaymentAPI.Codeunit.al
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/Protocol/VippsMpQrMgt.Codeunit.al
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/Protocol/VippsMpUtil.Codeunit.al
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/Setup/QrCallback/VippsMpQrCallback.Page.al
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/Setup/QrCallback/VippsMpQrCallback.Table.al
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/Setup/QrCallback/VippsMpQrCallbackList.Page.al
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/Setup/Store/VippsMpStore.Page.al
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/Setup/Store/VippsMpStore.Table.al
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/VippsMpIntegration.Codeunit.al
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/VippsMpLog.Codeunit.al
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/VippsMpMigration.Codeunit.al
Owners: @navipartner/hardware

Fixed oauth token caching (#7298)
  Application/src/Web Service Authorization/OAuth/APIOAuth2Token.Codeunit.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Update Dragonglass to version 2.9.0 (#7299)
  Application/src/_ControlAddIns/Dragonglass/Dragonglass.ControlAddin.al
Owners: @navipartner/frontend

Add TicketHolder dialog and remove unused variables (#7303)
  Application/src/POS Action (with Misc actions)/Item/POSActionInsertItem.Codeunit.al
  Application/src/POS Action (with Misc actions)/Item/POSActionInsertItem.js
  Application/src/POS Core/Workflow V3/_public/POSWorkflow.Enum.al
  Application/src/Ticket Module/TMTicketMakeReserv.Page.al
  Application/src/Ticket Module/TMTicketNotifyParticpt.Codeunit.al
  Application/src/Ticket Module/TMTicketRetailMgt.Codeunit.al
  Application/src/Ticket Module/_Actions/TicketMgt/POSActionTMScheduleSelect.Codeunit.al
  Application/src/Ticket Module/_Actions/TicketMgt/POSActionTMScheduleSelect.js
  Application/src/Ticket Module/_Actions/TicketMgt/POSActionTicketMgt.Codeunit.al
  Application/src/Ticket Module/_Actions/TicketMgt/POSActionTicketMgt.Codeunit.js
Owners: @navipartner/isv-1, @navipartner/attractions

Power BI Attribute API (#7304)
  Application/src/_API/PowerBI/APIV1AttributeKey.Page.al
  Application/src/_API/PowerBI/APIV1PBIAttributeValueSet.Page.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

PublicEvent (#7300)
  Application/src/POS Core/_public/POSSale.Codeunit.al
Owners: @navipartner/isv-1

Global Procedure PostPayment (#7302)
  Application/src/Retail Voucher/_public/NpRvModValidGlobalPublic.Codeunit.al
Owners: @navipartner/isv-1

Add Category field to Admission (#7305)
  Application/src/Ticket Module/TMAdmission.Table.al
  Application/src/Ticket Module/TMAdmissionCard.Page.al
  Application/src/Ticket Module/TMCategory.Page.al
  Application/src/Ticket Module/TMCategory.Table.al
  Application/src/Ticket Module/TMTicketAdmissions.Page.al
  Application/src/Ticket Module/_public/TMTicketType.Table.al
  Application/src/_API/PowerBI/APIV1PBITMAdmission.Page.al
Owners: @navipartner/attractions, @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Fix issue with replace card action (#7306)
  Application/src/Member Module/MembershipAttemptCreate.Codeunit.al
  Application/src/Member Module/_public/MMMemberInfoCapture.Page.al
Owners: @navipartner/attractions

Auto/Self-Approve with comment (#7307)
  .github/workflows/AutoApprove.yaml
Owners: @navipartner/pipelines

Batch add tickets to deferral request journal (#7309)
  Application/src/Ticket Module/TMTicketType.Page.al
  Application/src/Ticket Module/_Deferrals/TMDeferBatchAddTicket.Report.al
  Application/src/Ticket Module/_Deferrals/TMRevenueDeferral.Codeunit.al
  Application/src/Ticket Module/_Deferrals/TMRevenueRecognition.Page.al
Owners: @navipartner/attractions

Mith/hwd 314 cu npr rp line print seems to keep previous printjobs (#7308)
  Application/src/Retail Print/_public/RPLinePrint.Codeunit.al
  Application/src/Retail Print/_public/RPMatrixPrint.Codeunit.al
Owners: @navipartner/hardware

Tsa/attr 203 incorrect validation rules for email on member info capture (#7311)
  Application/src/Member Module/MMMemberCaptureList.Page.al
  Application/src/Member Module/MMMembershipMgtInternal.Codeunit.al
  Application/src/Member Module/_public/MMMemberInfoCapture.Page.al
  Application/src/Member Module/_public/MMMemberInfoCapture.Table.al
Owners: @navipartner/attractions

[HU] EInvoice: Merge setups into one HU MultiSoft/Navipartner EInvoice Setup (#7314)
  Application/src/Localizations/[HU] Multisoft-EInvoice/HUEInvoiceLocalMgt.Codeunit.al
  Application/src/Localizations/[HU] Multisoft-EInvoice/HUEInvoiceLocalSetup.Page.al
  Application/src/Localizations/[HU] Multisoft-EInvoice/HUEInvoiceLocalSetup.Table.al
  Application/src/Localizations/[HU] Multisoft-EInvoice/HUEInvoiceLocalSubs.Codeunit.al
  Application/src/POS Compliance/[HU] NTCA/MultiSoft-EInvoice/HUMSAuditMgt.Codeunit.al
  Application/src/POS Compliance/[HU] NTCA/MultiSoft-EInvoice/HUMSFiscalizationSetup.Table.al
  Application/src/POS Compliance/[HU] NTCA/MultiSoft-EInvoice/MSHUFiscalizationSetup.Page.al
Owners: @navipartner/compliance

Shopify: additional extensibility events for PTEs (#7315)
  Application/src/Magento/_public/MagentoPmtMgt.Codeunit.al
  Application/src/Shopify Integration/SpfyCCOrderHandler.Codeunit.al
  Application/src/Shopify Integration/SpfyCapturePayment.Codeunit.al
  Application/src/Shopify Integration/SpfyOrderMgt.Codeunit.al
  Application/src/Shopify Integration/SpfyPaymentGatewayHdlr.Codeunit.al
  Application/src/Shopify Integration/_public/SpfyIntegrationEvents.Codeunit.al
Owners: @navipartner/isv-2

Get Global Vouchers before voucher search in SCAN_VOUCHER_2 action (#7316)
  Application/src/Retail Voucher/ScanVoucher/TryFindPartnerVoucher.Codeunit.al
  Application/src/Retail Voucher/ScanVoucher/_public/POSActionScanVoucher2.Codeunit.al
  Application/src/Retail Voucher/_public/NpRvVoucherMgt.Codeunit.al
Owners: @navipartner/isv-1

BusinessChart type changed to ControlAddIn + versions (#7266)
  Application/src/Magento/MagentoSalesChart.Page.al
  Application/src/Member Module/RCMembersBurndownChart.Page.al
  Application/src/Statistics and Overview/ChartWrapper.Page.al
  Application/src/Statistics and Overview/RetailSalesChart.Page.al
  Application/src/Statistics and Overview/SaleStatsActivities.Page.al
  Application/src/_RoleCenters/Pages/PurchaseOrdChart.Page.al
  Application/src/_RoleCenters/Pages/RetailSalesChartbyShop.Page.al
Owners: @navipartner/isv-2, @navipartner/attractions, @navipartner/hardware, @navipartner/isv-1

[DE] Fiskaly: Create DSFinV-K API and replace obsolete Sign V2 methods moved to DSFinV-K (#7313)
  Application/src/POS Compliance/[DE] Fiskaly/DEAuditMgt.Codeunit.al
  Application/src/POS Compliance/[DE] Fiskaly/DEFiskalyCommunication.Codeunit.al
  Application/src/POS Compliance/[DE] Fiskaly/DEFiskalyDSFINVKJob.Codeunit.al
  Application/src/POS Compliance/[DE] Fiskaly/DEPOSUnitAuxInfoList.Page.al
  Application/src/POS Compliance/[DE] Fiskaly/DSFINVKClosingList.Page.al
Owners: @navipartner/compliance

Skip bin change if no bin selected (#7317)
  Application/src/POS Action (with Misc actions)/ChangeBin/POSActionChangeBinB.Codeunit.al
Owners: @navipartner/isv-1

[RS] Retail Localization: Fixes (#7319)
  Application/src/Localizations/[RS] Retail Localization/Nivelation/RSNivelationLines.Table.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSPOSGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSSalesGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSTransRecGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSTransShGLAddition.Codeunit.al
Owners: @navipartner/compliance

[RS] Retail Localization - Calculation Reports Changes (#7292)
  Application/src/Localizations/[RS] Retail Localization/Calculation Documents/RSRetPurchPriceCalc.Report.al
  Application/src/Localizations/[RS] Retail Localization/Calculation Documents/RSRetTransRecCalc.Report.al
Owners: @navipartner/compliance

Shopify: forward shopify transaction ID to posted payments (#7320)
  Application/src/Magento/_public/MagentoPmtMgt.Codeunit.al
Owners: @navipartner/isv-2

Apply ServiceLocalTime for member arrival logic (#7322)
  Application/src/Member Module/MMMemberLimMgr.Codeunit.al
  Application/src/Ticket Module/TMDetTicketAccessEntry.Table.al
  Application/src/Ticket Module/TMTicketAccessStats.Codeunit.al
  Application/src/Ticket Module/TMTicketManagement.Codeunit.al
Owners: @navipartner/attractions

Public access (#7318)
  Application/src/Email Template (PDF2NAV)/_public/EmailAttachment.Table.al
  Application/src/Email Template (PDF2NAV)/_public/EmailDocMgt.Codeunit.al
  Application/src/Email Template (PDF2NAV)/_public/EmailManagement.Codeunit.al
Owners: @navipartner/isv-1

New integration event in codeunit "NPR Magento Pmt. Mgt." (#7325)
  Application/src/Magento/_public/MagentoPmtMgt.Codeunit.al
Owners: @navipartner/isv-2

Add new events for customer creation process in membership create flow (#7323)
  Application/src/Member Module/MMMembershipMgtInternal.Codeunit.al
  Application/src/Member Module/_public/MMMembershipEvents.Codeunit.al
Owners: @navipartner/attractions

POS Scenarios calc points without pos loyalty profile (#7321)
  Application/src/Member Module/Loyalty/MMLoyaltyPointMgt.Codeunit.al
Owners: @navipartner/attractions
