Repository navipartner/npcore-partners, changes with the owners that CODEOWNERS names for each.
All owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2, @navipartner/pipelines, @navipartner/dev-management, @navipartner/frontend, @navipartner/attractions, @navipartner/compliance

POS Scenario pos audit profile upgrade adjustments (#7327)
  Application/src/_Upgrades/UPGPOSScenarios.Codeunit.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Removed WF1 and WF2 code for Membership Management (#7330)
  Application/src/Member Module/MMMemberRetailIntegr.Codeunit.al
  Application/src/Member Module/MMPOSActionMemberMgmt.Codeunit.al
  Application/src/Member Module/POSActionMemberMgtWF2.Codeunit.al
  Application/src/_Upgrades/UPGPOSMenuActionsv3.Codeunit.al
  Application/src/_Upgrades/UpgradeTagDefinitions.Codeunit.al
Owners: @navipartner/attractions, @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

POS Scenario specific step upgrade adjustments (#7331)
  Application/src/_Upgrades/UPGPOSScenarios.Codeunit.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Do not refresh data set after 'Require' method (#7328)
  Application/src/POS Core/_public/POSJavaScriptInterface.Codeunit.al
Owners: @navipartner/isv-1

Exch. Label for Sales Invoice (#7301)
  Application/src/Exchange Label/ExchangeLabelMgt.Codeunit.al
  Application/src/Exchange Label/_public/PrintExchangeLabels.Codeunit.al
Owners: @navipartner/isv-2

Rollback of temporary POS Sale check fix (#7332)
  Application/src/POS Core/_public/POSSale.Codeunit.al
Owners: @navipartner/isv-1

"Upgrade to WF3 and reorganize code" (#7336)
  Application/src/Ticket Module/TMTicketManagement.Codeunit.al
  Application/src/Ticket Module/_Actions/TicketMgt/POSActionTicketMgt.Codeunit.al
  Application/src/Ticket Module/_Actions/TicketMgt/POSActionTicketMgtB.Codeunit.al
  Application/src/_Upgrades/UPGPOSMenuActionsv3.Codeunit.al
  Application/src/_Upgrades/UpgradeTagDefinitions.Codeunit.al
Owners: @navipartner/attractions, @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

[RS] Retail Localization: Dates and Transfer Location Fix (#7335)
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSPOSGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSPurhcGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSSalesCrMemoGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSSalesGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSTransRecGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSTransShGLAddition.Codeunit.al
  Application/src/Localizations/[RS] Retail Localization/Retail Price Calculation/RSUndoTransShipAdd.Codeunit.al
Owners: @navipartner/compliance

Update document no in archived retail voucher entries when posting a web sales order (#7339)
  Application/src/Retail Voucher/_public/NpRvVoucherMgt.Codeunit.al
Owners: @navipartner/isv-1

POS Action SALE_DIMENSION parameters fix (#7337)
  Application/src/POS Action (with Misc actions)/Sale Dimension/POSActionSaleDimension.Codeunit.al
Owners: @navipartner/isv-1

Update Dragonglass to version 2.9.1 (#7340)
  Application/src/_ControlAddIns/Dragonglass/Dragonglass.ControlAddin.al
Owners: @navipartner/frontend

Whitelist of license types able to refresh job queue entries (#7333)
  Application/src/Job Queue/JobQueueUserHandler.Codeunit.al
Owners: @navipartner/isv-2

Enforce validity period of exchange labels (#7342)
  Application/src/Exchange Label/ExchangeLabelMgt.Codeunit.al
  Application/src/Exchange Label/_public/ExchangeLabelSetup.Page.al
  Application/src/Exchange Label/_public/ExchangeLabelSetup.Table.al
Owners: @navipartner/isv-2

Add ticket holder front end UI and fix ticket items input box (#7345)
  Application/src/POS Action (with Misc actions)/Item/POSActionInsertItem.Codeunit.al
  Application/src/POS Action (with Misc actions)/Item/POSActionInsertItem.js
  Application/src/Ticket Module/_Actions/TicketMgt/POSActionTMScheduleSelect.Codeunit.al
  Application/src/Ticket Module/_Actions/TicketMgt/POSActionTMScheduleSelect.js
  Application/src/Ticket Module/_Actions/TicketMgt/POSActionTicketMgt.Codeunit.al
  Application/src/Ticket Module/_Actions/TicketMgt/POSActionTicketMgt.Codeunit.js
Owners: @navipartner/isv-1, @navipartner/attractions

POSInputBoxEv (#7343)
  Application/src/POS Input Box/POSInputBoxEvents.Page.al
Owners: @navipartner/isv-1

FE-529 : Replace hardcoded text with localized strings (#7346)
  Application/src/POS Core/_public/POSUIManagement.Codeunit.al
Owners: @navipartner/isv-1

Add SetCurrentKey to TicketReservationResponse (#7347)
  Application/src/Ticket Module/TMTicketWebServiceMgr.Codeunit.al
  Application/src/Ticket Module/_api/SOAP/TMTicketConfirmation.XmlPort.al
Owners: @navipartner/attractions

Add RegisterArrival as single API for tickets and member cards (#7349)
  Application/src/Member Module/_API/AdmissionApp/MMAdmissionAppWebService.Codeunit.al
  Application/src/Member Module/_public/MMMemberCommunity.Page.al
Owners: @navipartner/attractions

Move API File (#7350)
  Application/src/Member Module/_API/AdmissionApp/_public/MMAdmissionAppWebService.Codeunit.al
Owners: @navipartner/attractions

Use the new frontend parameter to hide the Cancel button on the new waiter pad dialog (#7354)
  Application/src/Restaurant/NPREWaiterPadPOSMgt.Codeunit.al
  Application/src/Restaurant/NewWaiterPad/POSActionNewWaPad.Codeunit.al
  Application/src/Restaurant/NewWaiterPad_RV/POSActionRVNewWPad.Codeunit.al
Owners: @navipartner/isv-2

Update Dragonglass to version 2.9.2 (#7358)
  Application/src/_ControlAddIns/Dragonglass/Dragonglass.ControlAddin.al
Owners: @navipartner/frontend

Return invoice ( - discount %) fix + same value on Invoice and Memo/Lines (#7334)
  Application/src/POS Action (with Misc actions)/ImportPostedInvoice/POSActionImpPstdInvB.Codeunit.al
Owners: @navipartner/isv-1

Optimize SQL query for unknown keys (#7360)
  Application/src/Ticket Module/_api/SOAP/TMTicketPreConfirm.XmlPort.al
Owners: @navipartner/attractions

Sales price maintenance background processing (#7359)
  Application/src/Retention Policy/RetailLogsDelete.Codeunit.al
  Application/src/Sales Price/SalesPriceMaintEvent.Codeunit.al
  Application/src/Sales Price/SalesPriceMaintLog.Page.al
  Application/src/Sales Price/SalesPriceMaintLog.Table.al
  Application/src/Sales Price/SalesPriceMaintSetup.Page.al
  Application/src/Sales Price/SalesPriceMaintSetup.Table.al
  Application/src/_Installs/RetenPolInstall.Codeunit.al
  Application/src/_Upgrades/UpgradeTagDefinitions.Codeunit.al
Owners: @navipartner/isv-2, @navipartner/isv-1, @navipartner/hardware

Create Feature Flag job in all companies (#7348)
  Application/src/Feature Flags/FeatureFlagsManagement.Codeunit.al
  Application/src/Job Queue/_public/JobQueueManagement.Codeunit.al
  Application/src/_Upgrades/FeatureFlagsUpgrade.Codeunit.al
  Application/src/_Upgrades/UpgradeTagDefinitions.Codeunit.al
Owners: @navipartner/isv-1, @navipartner/isv-2, @navipartner/hardware

Improvements on Retail Setup Wizard (#7246)
  Application/src/Setup Wizards/Retail Wizard/page/ModifyPOSPaymentMethods.Page.al
  Application/src/Setup Wizards/Retail Wizard/page/WizardSteps/POSPmtMethodListStep.Page.al
  Application/src/Setup Wizards/Retail Wizard/page/WizardSteps/POSPostingSetupStep.Page.al
  Application/src/_Table Extensions/SalespersonPurchaser.TableExt.al
Owners: @navipartner/isv-2, @navipartner/hardware, @navipartner/isv-1

Topic/sibl/hwd 367 customer display translation labels missing at paw (#7356)
  Application/src/POS Costumer Input/POSCostumerInput.Page.al
  Application/src/POS Display/HTMLDisplayProfile/POSHTMLDispProf.Codeunit.al
  Application/src/POS Display/HTMLDisplayProfile/POSHTMLValidateInput.Page.al
  Application/src/POS Display/HTMLDisplayProfile/POSHtmlDispReq.Codeunit.al
  Application/src/_ControlAddIns/HTMLDisplayInput/HTMLDisplayInput.ControlAddin.al
  Application/src/_ControlAddIns/HTMLDisplayInput/Scripts/HTMLDisplayInput.js
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Transfer customer posting group to pos entries (#7363)
  Application/src/POS Core/_public/POSSale.Table.al
  Application/src/POS Posting/_public/POSCreateEntry.Codeunit.al
Owners: @navipartner/isv-1, @navipartner/isv-2

Add item variable as parameter to OnBeforeSimpleInsert event publisher in SimpleItemInsert (#7366)
  Application/src/POS Action (with Misc actions)/Item/POSActionInsertItem.Codeunit.al
  Application/src/POS Action (with Misc actions)/Item/_public/POSActInsertItemEvent.Codeunit.al
Owners: @navipartner/isv-1

Fix missing filter on membership code (#7367)
  Application/src/Member Module/Loyalty/Achievements/MMAchActivityManagement.Codeunit.al
  Test/src/Tests/Member Module/Loyalty/Achievements/MMAchievementTest.Codeunit.al
Owners: @navipartner/attractions, @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

POS End Sale Performance Improvements Changes (#7344)
  Application/src/Email Template (PDF2NAV)/_public/EmailDocMgt.Codeunit.al
  Application/src/Member Module/Loyalty/MMLoyaltyPointMgt.Codeunit.al
  Application/src/POS Compliance/[SE] CleanCash/CleanCashWrapper.Codeunit.al
  Application/src/POS Core/POSSalesPrintMgt.Codeunit.al
  Application/src/POS Tax Free/TaxFreeHandlerMgt.Codeunit.al
  Application/src/Ticket Module/TMReportTicket.Codeunit.al
Owners: @navipartner/isv-1, @navipartner/attractions, @navipartner/compliance, @navipartner/isv-2

reduced permission, tested and works (#7362)
  Application/src/POS Payment/EFT/Integrations/Vipps Mobilepay/Setup/VippsMpWebhook.PermissionSet.al
Owners: @navipartner/hardware

GetByDocumentNoFilters (#7368)
  Application/src/Global POS Sales/_public/NpGpPOSSalesWS.Codeunit.al
Owners: @navipartner/isv-2

Revert EFTTransactionRequests.Page.al comment (#7371)
  Application/src/POS Payment/EFT/Core/EFTTransactionRequests.Page.al
Owners: @navipartner/hardware

Update Dragonglass to version 2.9.3 (#7376)
  Application/src/_ControlAddIns/Dragonglass/Dragonglass.ControlAddin.al
Owners: @navipartner/frontend

Add local admission time support (#7375)
  Application/src/Ticket Module/TMTicketManagement.Codeunit.al
  Application/src/Ticket Module/_public/TMTicketWebService.Codeunit.al
Owners: @navipartner/attractions

fixed control add in, method overloading breaks functionality (#7377)
  Application/src/POS Costumer Input/POSCostumerInput.Page.al
  Application/src/POS Display/HTMLDisplayProfile/POSHTMLValidateInput.Page.al
  Application/src/_ControlAddIns/HTMLDisplayInput/HTMLDisplayInput.ControlAddin.al
  Application/src/_ControlAddIns/HTMLDisplayInput/Scripts/HTMLDisplayInput.js
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

Made sure guest ticket lines are primary (#7378)
  Application/src/Ticket Module/TMTicketWebServiceMgr.Codeunit.al
Owners: @navipartner/attractions

toaster message for verbose messages (#7381)
  Application/src/Ticket Module/_Actions/TicketMgt/POSActionTicketMgt.Codeunit.al
  Application/src/Ticket Module/_Actions/TicketMgt/POSActionTicketMgt.Codeunit.js
Owners: @navipartner/attractions

Item Delete - Unposted POS Entries present, fix (#7370)
  Application/src/_Table Extensions/Item.TableExt.al
Owners: @navipartner/hardware, @navipartner/isv-1, @navipartner/isv-2

CODEOWNERS:

# For anything that is not covered by the other rules
* @navipartner/hardware @navipartner/isv-1 @navipartner/isv-2

/.github/ @navipartner/pipelines
/CODEOWNERS @navipartner/dev-management

/Application/src/_ControlAddIns/Dragonglass/ @navipartner/frontend
/Application/src/_ControlAddIns/HardwareConnector/ @navipartner/hardware
/Application/src/_ControlAddIns/NPCamera/ @navipartner/hardware
/Application/src/Accessories/ @navipartner/isv-1
/Application/src/Attributes/ @navipartner/isv-1
/Application/src/Azure\ AD\ Application\ Management/ @navipartner/isv-1
/Application/src/Azure\ Function\ Management/ @navipartner/hardware
/Application/src/BTwentyFour\ Service/ @navipartner/isv-2
/Application/src/Case\ System\ Phone\ Home/ @navipartner/isv-2
/Application/src/Click\ &\ Collect/ @navipartner/isv-2
/Application/src/Consignor/ @navipartner/isv-1
/Application/src/Coupon/ @navipartner/isv-1
/Application/src/Customer\ Phone\ Lookup/ @navipartner/isv-1
/Application/src/Data\ Log/ @navipartner/isv-2
/Application/src/Data\ Package/ @navipartner/isv-2
/Application/src/Digital\ Receipt/ @navipartner/isv-1
/Application/src/Dimensions/ @navipartner/isv-2
/Application/src/Ecommerce/ @navipartner/isv-2
/Application/src/Email\ Template\ (PDF2NAV)/ @navipartner/isv-1
/Application/src/Environment/ @navipartner/isv-1
/Application/src/Event\ Module/ @navipartner/attractions
/Application/src/Exchange\ Label/ @navipartner/isv-2
/Application/src/External\ POS\ Sale/ @navipartner/isv-2
/Application/src/Feature\ Flags/ @navipartner/isv-1
/Application/src/Feature\ Management/ @navipartner/isv-1
/Application/src/File\ Transfer/ @navipartner/hardware
/Application/src/GDPR/ @navipartner/attractions
/Application/src/Global\ POS\ Sales/ @navipartner/isv-2
/Application/src/Group\ Codes/ @navipartner/isv-1
/Application/src/Hardware\ Connector/ @navipartner/hardware
/Application/src/HeyLoyalty\ Integration/ @navipartner/isv-2
/Application/src/Intercompany/ @navipartner/isv-1
/Application/src/Inventory\ Cost\ Adjmt/ @navipartner/isv-2
/Application/src/Item\ AddOn/ @navipartner/isv-1
/Application/src/Item\ Catalog/ @navipartner/isv-1
/Application/src/Item\ Category/ @navipartner/isv-1
/Application/src/Item\ Hierarchy/ @navipartner/isv-1
/Application/src/Item\ Reference/ @navipartner/isv-1
/Application/src/Item\ Status/ @navipartner/isv-2
/Application/src/Item\ Worksheet/ @navipartner/isv-1
/Application/src/Job\ Queue/ @navipartner/isv-2
/Application/src/Key\ Vault/ @navipartner/dev-management
/Application/src/Localizations/ @navipartner/compliance
/Application/src/MPOS/ @navipartner/hardware
/Application/src/Magento/ @navipartner/isv-2
/Application/src/Magento\ 2/ @navipartner/isv-2
/Application/src/Main\ Item\ Variations/ @navipartner/isv-2
/Application/src/Member\ Module/ @navipartner/attractions
/Application/src/NaviConnect/ @navipartner/isv-2
/Application/src/NaviDocs/ @navipartner/isv-2
/Application/src/NpXml/ @navipartner/isv-2
/Application/src/OIOUBL/ @navipartner/isv-2
/Application/src/Package/ @navipartner/isv-1
/Application/src/Pacsoft/ @navipartner/isv-1
/Application/src/POS\ Action\ (with\ Misc\ actions)/ @navipartner/isv-1
/Application/src/POS\ Background\ Tasks/ @navipartner/isv-1
/Application/src/POS\ Compliance/ @navipartner/compliance
/Application/src/POS\ Core/ @navipartner/isv-1
/Application/src/POS\ Customer\ Input/ @navipartner/hardware
/Application/src/POS\ Cross\ Reference/ @navipartner/isv-2
/Application/src/POS\ Data\ Source/ @navipartner/isv-1
/Application/src/POS\ Discount/ @navipartner/isv-1
/Application/src/POS\ Display/ @navipartner/hardware
/Application/src/POS\ Info/ @navipartner/isv-2
/Application/src/POS\ Input\ Box/ @navipartner/isv-1
/Application/src/POS\ Item\ Availability/ @navipartner/isv-2
/Application/src/POS\ Payment/ @navipartner/isv-1
/Application/src/POS\ Payment/EFT/ @navipartner/hardware
/Application/src/POS\ Payment\ Bin/ @navipartner/isv-2
/Application/src/POS\ Payment\ Denomination/ @navipartner/isv-2
/Application/src/POS\ Posting/ @navipartner/isv-2
/Application/src/POS\ Quote/ @navipartner/isv-2
/Application/src/POS\ RMA/ @navipartner/isv-2
/Application/src/POS\ Resume\ Sale/ @navipartner/isv-2
/Application/src/POS\ Sales\ Document/ @navipartner/isv-2
/Application/src/POS\ Scenarios/ @navipartner/isv-1
/Application/src/POS\ Security/ @navipartner/isv-1
/Application/src/POS\ Service/ @navipartner/isv-2
/Application/src/POS\ Setup/ @navipartner/isv-2
/Application/src/POS\ Statistics/ @navipartner/isv-2
/Application/src/POS\ Store/ @navipartner/isv-2
/Application/src/POS\ Tax\ Calculation/ @navipartner/isv-2
/Application/src/POS\ Tax\ Free/ @navipartner/isv-2
/Application/src/POS\ Unit/ @navipartner/isv-2
/Application/src/PrintNode/ @navipartner/hardware
/Application/src/Raptor/ @navipartner/isv-2
/Application/src/Reimbursement/ @navipartner/isv-2
/Application/src/Replication/ @navipartner/isv-1
/Application/src/Restaurant/ @navipartner/isv-2
/Application/src/Retail\ Item\ Journal/ @navipartner/isv-2
/Application/src/Retail\ Journal/ @navipartner/isv-2
/Application/src/Retail\ Price/ @navipartner/isv-1
/Application/src/Retail\ Print/ @navipartner/hardware
/Application/src/Retail\ Voucher/ @navipartner/isv-1
/Application/src/Retention\ Policy/ @navipartner/isv-2
/Application/src/Sales\ Price/ @navipartner/isv-1
/Application/src/Self\ Service/ @navipartner/hardware @navipartner/isv-1
/Application/src/Sentry/ @navipartner/dev-management
/Application/src/Setup\ Wizards/ @navipartner/isv-2
/Application/src/Shopify\ Integration/ @navipartner/isv-2
/Application/src/Smart\ Email/ @navipartner/isv-1
/Application/src/Statistics\ and\ Overview/ @navipartner/isv-2
/Application/src/Ticket\ Module/ @navipartner/attractions
/Application/src/Variety/ @navipartner/isv-1
